@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

// Custom styles

$dark-purple-color: #390b48;
$text-purple-color: #710794;
$breeze-color: #1abc9c;
$dark-greyed-color: #23282f;

.brand {
  background-image: url('images/logo/mylogo.png');
  background-repeat: no-repeat;
  background-size: 80%
}

header h1,
header h3 {
  font-family: 'Droid Serif', serif;
}

@media (min-width: 576px) {
  .mt-md-6,
  .my-md-6 {
    margin-top: 7rem !important;
  }
}

section {
  padding: 150px 0;
}

.header_bg {
  background: url('images/main_background.jpg') fixed center no-repeat;
  background-size: cover;
}

.bg-dark-purple {
  background-color: $dark-purple-color;
}

.bg-dark-greyed {
  background-color: $dark-greyed-color;
}
.bg-ocean {
  background-color: #1d809f;
}

.shadow-purple {
  box-shadow: 0 0.25rem 0.50rem $dark-purple-color;
}

.text-purple {
  color: $text-purple-color;
}

.text-breeze {
  color: $breeze-color !important;
}

.text-dark-breeze {
  color: #48987e !important;
}

.text-dark-greyed {
  color: $dark-greyed-color;
}

.text-black {
  color: $black;
}

.text-shadow {
  //text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-shadow: 0 0 7px $black;
}

// Dividers

hr {
  border-color: $breeze-color;
  border-width: 0.15rem;
  max-width: 12rem;
}

hr.light {
  border-color: $white;
}

hr.dark {
  border-color: $black;
}

// Links

a.link-text-primary {
  color: $breeze-color;
  font-family: 'Marck Script', cursive;
  font-style: initial;
  position: relative;

  @include hover-focus {
    color: $dark-greyed-color;
    text-decoration: underline solid $breeze-color;
  }
}

.header-font {
  font-family: 'Neucha', cursive;
  font-weight: bolder;
}

.link-icon {
  color: $breeze-color;

  &:hover {
    color: lighten($breeze-color, 15%);
    text-decoration: none;
  }
}

.link-image:hover {
  opacity: 0.7;
}


// Forms

.form-control-custom {
  //box-shadow: inset 0 0.0625rem 0.0625rem rgba($breeze-color,0.075);

  &:focus {
    border-color: $breeze-color;
    box-shadow: $breeze-color 0 0.0625rem 0.0625rem, 0 0 0 0.0625rem $breeze-color;
  }
}

// Tables

.table-hover {
  tbody tr {
    @include hover {
      color: $breeze-color;
      background-color: $table-hover-bg;
    }
  }
}

// Img Gray Scale effect

img.grayed {
  filter: grayscale(100%);
  transition: .3s ease-in-out;

  &:hover {
    filter: grayscale(0);
  }
}
