@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5
}

.header {
  color: #fff;
  background-color: #fff;
  /*background-image: linear-gradient(120deg, #48015d, #390b48);*/
  padding: 2rem 3rem;
  margin-top: 40px;
  border-bottom: 1px solid #390b48;
}

.header-name {
  color: #7a00a0;
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.header-tagline {
  color: #7a00a0;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

a {
  color: #580a90;
  text-decoration: none;
  opacity: 0.9;
}

a:hover {
  color: #7a00a0;
  text-decoration: underline;
  border-color: rgba(255, 255, 255, 0.3);
}

.btn {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #390b48;
  /*color: rgba(255, 255, 255, 0.7);*/
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 0.75rem 1rem
}

.container {
  margin: 5rem 5rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #7a00a0;
}

h2.margin-top {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.centered-text {
  text-align: center;
}


.site-footer {
  color: #fff;
  text-align: center;
  background-color: #a601da;
  background-image: linear-gradient(120deg, #090a0a, #a601da);
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  padding-bottom: 2rem;
}

/* ---- particles.js container ---- */
canvas{
  display: block;
  vertical-align: bottom;
}

#particles-js{
  position: absolute;
  width: 100%;
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*#particle-js1 {
    position: absolute;
    width: 100%;
    max-height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}*/

#inside {
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  margin-left: 300px;
}

/* ----Animated button---- */
.wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}

button.animated{
    display: inline-block;
    /*#width: 200px;
    #height: 70px;*/
    color: rgba(255, 255, 255, 0.7);
    background-color: #390b48;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    border-radius: 0.3rem;
    color: #ffc107;
    font-size: 20px;
    /*#letter-spacing: 3px;
    #font-family: 'Lato';
    #font-weight: 600;*/
    outline: none;
    cursor: pointer;
    position: relative;
    /*#padding: 0px;*/
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);

    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem
}

button.animated span{
    position: absolute;
    display: block;
}

button.animated span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #ffa500);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button.animated span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button.animated span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #ffa500);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button.animated span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button.animated:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

button.animated:hover span{
    animation-play-state: paused;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*#border: 1px solid black;*/
    padding-top: 50px;
}

.flex-item-image {
  flex: 0 1 30%;
  padding: 2rem;
  padding-left: 50px;
  min-width: 200px;
  max-width: 300px;
  /*#border: 1px solid black;*/
}

.flex-item-txtblock {
    flex: 0 1 50%;
    padding: 40px 40px;
    min-width: 200px;
    max-width: 550px;
    /*#border: 1px solid black;*/
}

.dividerLine {
    border-top: 1px #580a90 solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* animated typewriter*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hello::after {
  /*#position: absolute;
	#right: -5px;
  #bottom: 5px;
  #width: 3px;*/
  height: 1px;
  content: '';
  opacity: 1;
  /*#display: inline-block;
  #background: #fff;*/
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #ffa500; /* The typwriter cursor */
}

.hello.animateCursor::after {
	animation: blink-caret 1s infinite ease;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffa500 }
}
