// Animated typewriter

$blink-caret-color: #1abc9c;

.occupation::after {
  height: 1px;
  content: '';
  opacity: 1;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid $blink-caret-color; /* The typewriter cursor */
}

.occupation.hidden::after {
  display: none;
}

.occupation.animateCursor::after {
  animation: blink-caret 1s infinite ease;
}

// The typewriter cursor effect

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $blink-caret-color }
}
